.exercises-npcr-multiple-choice-question {
  border: 1px solid black;
  display: inline-block;
  margin: auto;
  padding: 10px;
}

.exercises-npcr-multiple-choice-question
.exercise-number {
  display: inline-block;
  font-weight: bold;
  padding: 0 10px 0 0;
}

.exercises-npcr-multiple-choice-question
.exercise-number:after {
  content: '.';
}

.exercises-npcr-multiple-choice-question
.exercise-number-plus-question {
  text-align: left;
}

.exercises-npcr-multiple-choice-question
.question {
  display: inline-block;
}

.exercises-npcr-multiple-choice-question
.alternatives {
  text-align: left;
  display: table;
}

.exercises-npcr-multiple-choice-question
.alternative
.label {
  font-weight: bold;
  display: inline-block;
  padding: 0 5px 0 0;
}

.exercises-npcr-multiple-choice-question
.alternative
.content {
  display: inline-block;
}

/******************************************/
/* exercises-npcr-text-missing-characters */
/******************************************/

.exercises-npcr-text-missing-characters {
  display: inline-block;
  text-align: left;
  padding: 10px;
}

/* Indent the first sentence in each line. */
.exercises-npcr-text-missing-characters
.prose
.line
.segment:first-child {
  margin-left: 2em;
}

/* Separation between lines */
.exercises-npcr-text-missing-characters
.prose
.line:not(:first-child) {
  padding-top: 1em;
}

/* Show speaker, separator and segment in the same line*/
.exercises-npcr-text-missing-characters .speaker,
.exercises-npcr-text-missing-characters .separator,
.exercises-npcr-text-missing-characters .segment {
  display: inline-block;
}

.exercises-npcr-text-missing-characters
.char-outside-hidden-segment {
  display: inline-block;
}

.exercises-npcr-text-missing-characters
.speaker {
  font-weight: bold;
}

.exercises-npcr-text-missing-characters
.missing-part {
  background-color: blue;
  padding: 20px;
}

.exercises-npcr-text-missing-characters
.sentence {
  margin: 4px;
}

.exercises-npcr-text-missing-characters
.segment:hover {
  background-color: yellow;
}

.exercises-npcr-text-missing-characters
input[type="text"] {
  font-size: 25px;
  border: 3px solid black;
}

.exercises-npcr-text-missing-characters
.buttons-container {
  text-align: center;
}

/***************************************/
/* exercises-npcr-guess-word-attribute */
/***************************************/

.exercises-npcr-guess-word-attribute {
  text-align: left;
  display: inline-block;
  margin: auto;
}

.exercises-npcr-guess-word-attribute
.instruction {
  border: 1px solid black;
  display: table;
  padding: 10px;
}

.exercises-npcr-guess-word-attribute
.instruction
.missing-attribute-label {
  font-weight: bold;
}

.exercises-npcr-guess-word-attribute
.instruction
.missing-attribute-label {
  font-weight: bold;
}

.exercises-npcr-guess-word-attribute
.chinese-characters {
  font-size: 100px;
  font-family: STKaiti;
}

.exercises-npcr-guess-word-attribute
.lexical-category {
  text-align: left;
  display: inline-block;
  margin: auto;
}

.exercises-npcr-guess-word-attribute
.lexical-category
.content {
  padding: 0 0 0 20px;
}
