@import url('exercises.css');
@import url('exercises-npcr.css');

.card {
  font-family: arial;
  font-size: 20px;
  text-align: center;
  color: black;
  background-color: white;
}

.dialogue {
  text-align: left;
  border: 1px solid black;
  padding: 20px;
}
